/*---------- COLOR ----------*/
$color-primary: hsl(0, 100%, 74%);
$color-secondary: hsl(154, 59%, 51%);
$color-tertiary: hsl(248, 32%, 49%);

$color-dark-blue: hsl(249, 10%, 26%);
$color-grayish-blue: hsl(246, 25%, 77%);

/*---------- FONT ----------*/
$font-default: "Poppins", sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
